html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Containers/Wrapper */
#root {
  width: 100%;
  height: 100%;
}

.page-main {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  min-height: 100%;
}

/* Buttons */
.btn {
  background: none;
  border: none;
  text-align: center;
}

.btn-med {
  padding: 1em;
  font-size: 1.5em;
}

.btn-lg {
  padding: 1em;
  font-size: 1.7em;
}

.btn-top-right {
  position: absolute;
  top: 5px;
  right: 5px;
}

.btn-close {
  border-radius: 20px;
}

.btn-create {
  display: block;
  margin: 0 0 0.5em 0;
  background-color: blue;
  cursor: pointer;
  border-radius: 25px;
}

.btn-start {
  margin: 0 0 0.5em 0;
  background-color: blue;
  cursor: pointer;
  border-radius: 25px;
}

.btn-toggle {
  margin: 0 0 0.5em 0;
  padding: 1em;
  background-color: blue;
  cursor: pointer;
  border-radius: 10px;
}

.btn-start:hover {
  color: white;
  background-color: black;
}

.btn-create:hover {
  color: white;
  background-color: black;
}

.btn-toggle:hover {
  color: white;
  background-color: black;
}

.btn-close:hover {
  color: white;
  background-color: #353535;
}
